.container{
    width: 600px;
    display: grid;
    margin: 0 auto;
    margin-top: 150px;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
}
.card{
    perspective: 1000px;
    position: relative;
    transition: 0.7s;
}
.front{
    position: absolute;
    transition: 0.7s;
    width: 150px;
    height: 150px;
    background-color: blue;
    backface-visibility: hidden;
   
}
.back{
    backface-visibility: hidden;
    transition: 0.7s;
    transform: rotateY(180deg);
}
.orqa{
    transform: rotateY(360deg);
}
.old{
    transform: rotateY(180deg);
}
.circle{
    transform: rotateY(180deg);
}
.youwin{
    position: absolute;
    font-size: 150px;
    top: 350px;
    left: 300px;
    color: gold;
    font-weight: 900;
    display: none;
}
.heart{
    display: flex;
    position: absolute;
    top: 50px;
    left: 40%;
}
.gameover{
    position: absolute;
    font-size: 100px;
    top: 350px;
    left: 370px;
    color: black;
    font-weight: 900;
    display: none;
}